---
layout: default
title: Home
cover: '/images/79500023.jpg'
about: 'about.html'
archive: 'archive.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
  <nav class="main-nav overlay clearfix">
    {% if page.logo %}
    <a class="blog-logo" href="{{ site.baseurl }}">
      <img src="{{ page.logo }}" alt="Blog Logo" />
    </a>
    {% endif %}
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a>
  </nav>
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">{{ site.name }}</h1>
      <h2 class="page-description">
        {% if site.description %} {{ site.description }}. {% endif %}
        {% if page.about %} <a href='{{ site.baseurl }}{{ page.about }}'> About me </a> {% endif %}
      </h2>
    </div>
  </div>
  <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main class="content" role="main">

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time> {{!tags prefix="on "}}</span>
            <h2 class="post-title"><a href="{{ post.url}}">{{ post.title }}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{post.excerpt}}</p>
        </section>
    </article>

    {% endfor %}

    <nav class="pagination" role="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
          {% endif %}
        {% endif %}

        <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>

        {% if paginator.next_page %}
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
        {% endif %}
    </nav>


</main>
