{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}    
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "photography" %}
        <a href="https://github.com/taylorhxu/taylorhxu.github.io/blob/master/photography/index.html">{{ page.title }}</a>
    {% endif %}
{% endfor %}
